body{
    background-color: rgb(53, 53, 97);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input-number{
    width: 200px;
    height: 30px;
    border-radius: 5px;
}
#submit{
    height: 35px;
    border-radius: 5px;
}
.game-body{
    margin-bottom: 15px;
}